
/* DRO Resources */

//
// (1 April 2015)
// compile this into css, then paste the result into the css
// page in plone:
// https://research.jcu.edu.au/dro/dro_custom.css/manage
// It will be included in every page in the /dro site.
//

$banner-image: /dro/media/dro-banner;

$title-color: #096;

$experience-banner: /dro/media/experience-banner;
$tandl-banner: /dro/media/tandl-banner;
$research-banner: /dro/media/research-banner;

$banner-height: 149px;
$page-bg: #f4f4f4;

@mixin full-width-no-bg {
	margin: 0 -2%;
	padding: 0 2%;
	background: $page-bg;
}

/////////////////////////////////////////////////// outer page layout

$bg-frosty: linear-gradient(to right, rgba(255,255,255,0.7), rgba(255,255,255,0) 50%, rgba(255,255,255,0.7));
$bg-frosty: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0) 50%, rgba(0,0,0,1));
$bg-frosty: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0) 50%, rgba(255,255,255,1));
body {
	background-color: $page-bg;
	// this is a two layer background: a translucent white layer
	// over a width-stretched version of the banner image
	background-image: $bg-frosty, url($banner-image);
	background-size: 150% $banner-height;
	background-repeat: no-repeat;
	background-position: top;
}

// custom banners for core pages
body.section-experiences { background-image: $bg-frosty, url($experience-banner); }
body.section-learning-and-teaching { background-image: $bg-frosty, url($tandl-banner); }
body.section-research { background-image: $bg-frosty, url($research-banner); }

// page wrapper
#visual-portal-wrapper {
	border: none;
	background: #fff;
	// override background if browser understands linear-gradient.
	// this gives a transparent bg for $banner-height, pixels, then
	// a white background from then on.
	background: linear-gradient(to bottom,
		rgba(255,255,255,0),
		rgba(255,255,255,0) $banner-height,
		rgba(255,255,255,1) $banner-height
	);
}

////////////////////////////////////////////////////////////// header

// the header wrapper
#portal-top {
	background-color: transparent;
}
// the header element that carries the banner image
#portal-header {
	margin: 0 -1.125% 0;
	background-image: url($banner-image);
	background-position: center;
	background-size: cover;
}

// custom banners for core pages
body.section-experiences #portal-header { background-image: url($experience-banner); }
body.section-learning-and-teaching #portal-header { background-image: url($tandl-banner); }
body.section-research #portal-header { background-image: url($research-banner); }

////////////////////////////////////////////////////////// front page

// main page, but not when you're editing it
.section-home:not(.template-atct_edit) {
	// this is the tab bar that does site navigation.
	#portal-globalnav {
		// can't use display: none because this is apparently the only
		// element that gives the header its height.
		visibility: hidden;
	}

	// the edit tagline "by Administrator -- last modified etc"
	#viewlet-below-content-title { display: none; }

	// the subheading/description
	#parent-fieldname-description { display: none; }

	// various parts show white background even when they're empty.
	#portal-columns { margin-top: 0; }
	#content-core   { margin-top: 0; }
	#content        { margin-top: 0; }

	// most of these things need this #content id wrapper to be
	// specific enough to apply.
	#content {
		// the main heading
		.documentFirstHeading {
			@include full-width-no-bg;
			padding: 1em 0;
			font-weight: 100;
			text-align: center;
			font-size: 50px;
			// override font-size if you understand calc() and vw
			font-size: calc(14px + 3vw);
		}

		div.fancywrapper {
			@include full-width-no-bg;
			text-align: center;
		}
		div.video {
			display: inline-block;
			box-sizing: border-box;
			vertical-align: top;
			width: 58%;
			min-width: 300px;
			margin-right: 0.5%;
		}

		// the list of main features, NON flexbox version
		$padding: 15px;
		ul.features {
			display: inline-block;
			box-sizing: border-box;
			vertical-align: top;
			width: 40%;
			min-width: 300px;
			padding: 0;
			margin: 0;
			margin-left: 0.5%;
			list-style: none;
			text-align: right;

			li {
				padding: $padding;
				margin-bottom: $padding;
				box-sizing: border-box;
				background-color: #fff;
				line-height: 1.4;

				box-shadow: 0 0 3px $page-bg;

				// rounded corners
				position: relative;
				$radius: 50px;
				min-height: $radius + $radius + $padding + 2px;

				border-bottom-left-radius: $radius + $padding/2;
				padding-left: $radius + $radius + $padding/2;

				border-top-right-radius: $radius/2 + $padding/2;
				padding-right: $radius/4 + $padding/2;
				&:before {
					content: '';
					// z-index: 1;
					position: absolute;
					box-sizing: border-box;
					top: $padding/2;
					left: $padding/2;
					height: $radius + $radius;
					width: $radius + $radius;
					border-radius: $radius;
					border-top-left-radius: 0;
					background-position: center;
					background-size: cover;
				}

				// the first link is the "main" title link
				a:first-of-type {
					position: relative;
					display: block;
					padding: $padding/2 0;
					font-size: 140%;
					color: $title-color;
					text-shadow: 0 0 4px #fff, 0 0 7px #fff, 0 0 10px #fff;
				}
				&.experience:before { background-image: url($experience-banner); }
				&.tandl:before { background-image: url($tandl-banner); }
				&.research:before { background-image: url($research-banner); }
			}

		}
	}
}

// .flexbox .section-home:not(.template-atct_edit) {
// 	#content {
// 		// the list of main features, FLEXBOX version
// 		ul.features {
// 			display: flex;
// 			flex-direction: column;
// 			li {
// 				width: auto;
// 				flex: 0 1 33%;
// 			}
// 		}
// 	}
// }


///////////////////////////////////////////////////// todo paragraphs

p.todo, td.todo, th.todo, h1.todo, h2.todo, h3.todo, h4.todo {
	background: #ffb;
}
p.todo {
	padding: 0.66em 1em;
	opacity: 0.25;
	transition: opacity 0.5s;
}
p.todo:hover {
	opacity: 1;
}

// pic todos
p.todo.todo-pic {
	opacity: 1;
	margin: 0 auto;
	background-image: url(http://placecorgi.com/700/100);
	background-position: center;
	background-size: cover;
	padding: 1em;
	color: white;
	text-shadow: -6px 0 8px #000, -3px 0 8px #000, 0 0 8px #000, 3px 0 8px #000, 6px 0 8px #000;

	a:link { color: #def ! important; }
	a:visited { color: #bcf ! important; }

	                    height: 350px;  width: 90%;
	&.todo-pic-small {  height: 100px;  width: 33%; }
	&.todo-pic-strip {  height:  80px;  width: 90%; }
}


p.todo.todo-pic.todo-pic-0 { background-image: url(http://placecorgi.com/390/300); }
p.todo.todo-pic.todo-pic-1 { background-image: url(http://placecorgi.com/190/310); }
p.todo.todo-pic.todo-pic-2 { background-image: url(http://placecorgi.com/290/320); }
p.todo.todo-pic.todo-pic-3 { background-image: url(http://placecorgi.com/390/330); }
p.todo.todo-pic.todo-pic-4 { background-image: url(http://placecorgi.com/490/340); }
p.todo.todo-pic.todo-pic-5 { background-image: url(http://placecorgi.com/590/350); }
p.todo.todo-pic.todo-pic-6 { background-image: url(http://placecorgi.com/690/360); }
p.todo.todo-pic.todo-pic-7 { background-image: url(http://placecorgi.com/790/370); }
p.todo.todo-pic.todo-pic-8 { background-image: url(http://placecorgi.com/890/380); }
p.todo.todo-pic.todo-pic-9 { background-image: url(http://placecorgi.com/990/390); }


