
/* DRO Resources */

//
// (1 April 2015)
// compile this into css, then paste the result into the css
// page in plone:
// https://research.jcu.edu.au/dro/dro_custom.css/manage
// It will be included in every page in the /dro site.
//


$title-color: #096; // colour of title text.  Matches theme colour
$bg-highlight: #9c6; // used in tab bgs, etc.  Matches theme color

$shading: #3c2; // used for gradient edges etc


$page-bg: #f8f8f8; // page background colour

// banners & branding images for site sections
$banner-image: /dro/media/dro-banner;

$experience-banner: /dro/media/experience-banner;
$landt-banner: /dro/media/landt-banner;
$research-banner: /dro/media/research-banner;

$experience-square: /dro/media/experience-banner;
$landt-square: /dro/media/landt-banner;
$research-square: /dro/media/research-banner;

$logo-height: 124px; // height of JCU logo in banner
$nav-tab-height: 41px; // height of nav tabs
$banner-height: $logo-height + $nav-tab-height; // banner height


@import 'calendar';
@import 'viz';


// use this mixin to fake-remove the white content background and
// show the grey page background instead.
@mixin full-width-no-bg {
	margin: 0 -2%;
	padding: 0 2%;
	background: $page-bg;
}

/////////////////////////////////////////////// typography and format

#content { font-size: inherit; } // cure for Tiny Font Syndrome
#content-core h2, #content-core h3 {
	margin-top: 2em;
	&:first-of-type { margin-top: 0.5em }
}

/////////////////////////////////////////////////// outer page layout

// give a frosty background (white layer with opacity gradient from
// 1 at the left and right edges, opacity 0 in the middle)
$bg-frosty: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0) 50%, rgba(255,255,255,1));
body {
	background-color: $page-bg;
	// this is a two layer background: a translucent white layer
	// over a width-stretched version of the banner image
	background-image: $bg-frosty, url($banner-image);
	background-size: 150% $banner-height - 1px;
	background-repeat: no-repeat;
	background-position: top;
}

// custom banners for core pages
// Update: Jeremy says use the same banner everywhere
// body.section-experiences { background-image: $bg-frosty, url($experience-banner); }
// body.section-learning-and-teaching { background-image: $bg-frosty, url($landt-banner); }
// body.section-research { background-image: $bg-frosty, url($research-banner); }

// page wrapper
#visual-portal-wrapper {
	border: none;
	background: #fff;
	// override background if browser understands linear-gradient.
	// this gives a transparent bg for $banner-height, pixels, then
	// a white background from then on.
	background: linear-gradient(to bottom,
		rgba(255,255,255,0),
		rgba(255,255,255,0) $banner-height,
		rgba(255,255,255,1) $banner-height
	);
}

#portal-breadcrumbs { display: none; }

#portal-column-two { margin-top: 1em; }
dl.portlet {
	background-color: $page-bg;
	dt.portletHeader {
		background-color: darken($title-color, 10%);
		background-image: linear-gradient(to bottom, $title-color, darken($title-color, 10%));
	}
}

////////////////////////////////////////////////////////////// header

// the header wrapper
#portal-top {
	background-color: transparent;
}
// the header element that carries the banner image
#portal-header {
	margin: 0 -1.125% 0;
	background-image: url($banner-image);
	background-position: center;
	background-size: cover;
}

// custom banners for core pages
// Update: Jeremy says use the same banner everywhere
// body.section-experiences #portal-header { background-image: url($experience-banner); }
// body.section-learning-and-teaching #portal-header { background-image: url($landt-banner); }
// body.section-research #portal-header { background-image: url($research-banner); }


///////////////////////////////////////////////////// navigation tabs

ul#portal-globalnav {
	background: linear-gradient(to bottom, rgba($bg-highlight, 0.1), rgba($bg-highlight, 0.9));
	background: linear-gradient(to bottom, rgba(255,255,255, 0.2), rgba(255,255,255, 0.8));
	font-size: inherit;
	color: inherit;
	// fix the height and scroll horizontally if necessary
	white-space: nowrap;
	height: $nav-tab-height + 1px;
	overflow-x: auto;
	overflow-y: hidden;
	li {
		padding: 0;
		a {
			margin: 0;
			padding: 1px 1.5em 0;
			line-height: $nav-tab-height;
			height: $nav-tab-height;
			text-shadow: 0 0 2px #fff, 0 0 4px #fff;
			opacity: 0.7;
			transition: 0.1s;
			color: inherit;
		}
		// special ones get bolded
		&#portaltab-experiences a,
		&#portaltab-learning-and-teaching a,
		&#portaltab-research a {
			// they're already set to 80%, so 85% is making them bigger
			font-size: 85%;
			font-weight: bold;
		}
		&#portaltab-editing a {
			color: red;
		}

		&.selected a {
			opacity: 1;
			text-shadow: none;
			color: inherit;
		}
		a:hover {
			opacity: 0.9;
			text-shadow: none;
			color: inherit;
		}
	}
}


/////////////////////////////////////////////////////////////// forms

#content form {

	$value-indent: 1%;

	input, select, textarea {
		font-size: inherit;
		max-width: 95%;
		padding: 0.25em;
	}

	.field {
		padding-left: $value-indent;
		margin: 0 0 2em;
	}

	fieldset {
		// fix rediculous width bug in many browsers
		// http://stackoverflow.com/questions/17408815
		display: table-cell;
		min-width: 0;

		// fields that are the first in a fieldset don't need
		// as much spacing.
		//
		// first-of-type doesn't work coz .field is a div and there
		// are other divs before it, like the error showing div
		// .field:first-of-type { margin-top: 0.5em; }
		.field:last-child    { margin-bottom: 0.5em; }

		border: none;
		border: 1px solid darken($page-bg, 10%);
		border-width: 1px 0 1px 0.66em;
		border-top-left-radius: 1.5em;
		border-bottom-left-radius: 1.5em;

		margin: 0 0 0.5em;

		legend { font-size: inherit; }
	}

	label, .label, label.formQuestion {
		margin-left: -1 * $value-indent;
		font-weight: bold;
		color: darken($title-color, 15%);
		font-size: 90%;
	}

	input[type=checkbox] ~ label,
	input[type=radio] ~ label {
		// this targets labels for checkbox or radio buttons.
		// Plone just puts them next to each other without a wrapper,
		// so we have to use sibling selectors.
		font-weight: normal;
		font-size: inherit;
		color: inherit;
		margin-left: 0.5em;
	}

	// .ArchetypesSelectionWidget, .ArchetypesBooleanWidget {
	// 	label {
	// 		// this targets the text after a checkbox or radio btn.
	// 		// (a .label is used to label the whole set, so not
	// 		// targetted here).
	// 		font-weight: normal;
	// 		font-size: inherit;
	// 		color: inherit;
	// 		margin-left: 0.5em;
	// 	}
	// 	select ~ label {
	// 		margin-left: -1 * $value-indent;
	// 		font-weight: bold;
	// 		color: darken($title-color, 15%);
	// 		font-size: 90%;
	// 	}
	// }

	.formHelp {
		font-size: 90%;
	}

	.fieldErrorBox:empty { display: none; }

	.formControls {
		input[type=button], input[type=submit] {
			padding: 0 2em;
			line-height: 2;
			border-radius: 3px;
			cursor: pointer;
			background: #eee;
			border: 2px outset #eee;
		}
	}
}


/////////////////////////////////////////////////////////////////////
// specific page styles /////////////////////////////////////////////

/////////////////////////////////// big teardrop image on major pages

@mixin big-teardrop-image {
	$radius: 160px;
	float: left;
	margin: 0 2em 1em 0;
	width: $radius + $radius;
	height: $radius + $radius;
	border: none;
	border-top-right-radius: $radius;
	border-bottom-right-radius: $radius;
	border-bottom-left-radius: $radius;
	// good browsers show a non-square image without distorting its aspect ratio
	object-fit: cover;
	// good browsers can fit text along the curve of the teardrop
	// (good luck with your syntax highlighting)
	shape-outside: margin-box;
}

// hmm let's not use the teardrop?
// .subsection-learning-and-teaching {
// 	#content-core img:first-of-type {
// 		@include big-teardrop-image;
// 	}
// }

////////////////////////////////// title photo banner for major pages

@mixin title-photo-bg($image: $banner-image) {
	#content .documentFirstHeading {
		// this incantation tames the IE demons
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
			src='$image', sizingMethod='scale');

		background: url($image) no-repeat center center;
		background-color: $title-color;
		background-image: url($image), linear-gradient(to bottom, $title-color, darken($title-color, 33%));
		background-size: cover;

		padding: 150px 0.5em 0.5em;
		color: white;
		font-size: 300%;
		// font-size for browsers that understand calc() and vw
		font-size: calc(20px + 2.5vw);
		text-shadow: 0 0 3px #000, 0 0 6px #000;
	}
}

// pages that use the photo banner..
.section-the-facility     { @include title-photo-bg(/dro/media/photo-headings/facility); }
.section-about-the-dro    { @include title-photo-bg(/dro/media/photo-headings/about); }
.section-the-local-region { @include title-photo-bg(/dro/media/photo-headings/region); }
.section-experiences      { @include title-photo-bg(/dro/media/photo-headings/experiences); }
.section-research         { @include title-photo-bg(/dro/media/photo-headings/research); }
.section-learning-and-teaching { @include title-photo-bg(/dro/media/photo-headings/learning-and-teaching); }


/////////////////////////////////////////////// photo-paragraph pages

.section-the-facility, .section-research {
	// use a single image per paragraph.
	.image-left  { clear: left; }
	.image-right { clear: right; }
}


////////////////////////////////////////// link points on major pages

@mixin link-list {
	width: 100%;
	clear: both;
	padding-top: 1em;
	padding-bottom: 2em;

	text-align: justify;
	&:after {
		content: '';
		display: inline-block;
		height: 0.1px;
		width: 100%;
		opacity: 0;
	}
}
@mixin link-list-item($size: 'large') {
	$in-gap: 1em;
	$out-gap: 0.5em;

	width: 12em;
	min-width: 12em;
	min-height: 11em;
	font-size: 80%;
	background-image: linear-gradient(to top,    rgba($shading, 0.2), rgba($shading, 0.05) 0.5 * $in-gap, rgba($shading, 0) 1.5 * $in-gap),
	                  linear-gradient(to bottom, rgba($shading, 0.2), rgba($shading, 0.05) 0.5 * $in-gap, rgba($shading, 0) 1.5 * $in-gap);

	// this only works if this mixin is used inside an li. sorry.
	&:nth-last-child(1):first-child, &:nth-last-child(1):first-child ~ li { width: 60%; }
	&:nth-last-child(2):first-child, &:nth-last-child(2):first-child ~ li { width: 40%; }
	&:nth-last-child(3):first-child, &:nth-last-child(3):first-child ~ li { width: 25%; }
	&:nth-last-child(4):first-child, &:nth-last-child(4):first-child ~ li { width: 18%; }

	@if ($size == 'large') {
		font-size: 90%;
		$in-gap: 1em;
		$out-gap: 1em;
		width: 14em;
		min-height: 14em;
		// border: 1px solid rgba($shading, 0.5);
		background-image: linear-gradient(to top, rgba($shading, 0.2), rgba($shading, 0.05) 1 * $in-gap, rgba($shading, 0) 2 * $in-gap);
	}

	background-color: #fff;
	display: inline-block;
	position: relative;
	vertical-align: top;
	text-align: left;
	padding: $in-gap;
	margin: $out-gap 2/3 * $out-gap;

	// border-radius: 1.5 * $in-gap;
	// border-top-left-radius: 0;
	border-radius: 2px;

	// @if ($size == 'large') {
	// 	&:before {
	// 		content: 'next...';
	// 		font-size: 150%;
	// 		color: white;
	// 		text-shadow: 0 0 1px $shading, 0 0 2px $shading;
	// 		position: absolute;
	// 		top: -0.25em;
	// 		left: -0.25em;
	// 		transform: rotate(-15deg);
	// 	}
	// }
	a:last-of-type {
		// the last link is the "more" link
		position: absolute;
		bottom: $in-gap;
		right: 1.5 * $in-gap;
		font-size: 90%;
		// float: right;
		font-style: italic;
		white-space: nowrap;
		&:after { content: ' \00bb'; }
	}
	a:first-of-type {
		position: static;
		box-sizing: border-box;
		$height: 1.5em + $in-gap + $in-gap;
		// the first link is the header
		color: $title-color;
		text-align: center;
		// font-weight: bold;
		display: block;
		height: $height;
		line-height: 1.1;
		margin: 0 auto $in-gap;
		padding: $in-gap 0 0;
		float: none;
		font-style: normal;
		white-space: normal;
		&:after { display: none };

		// large links look button-y
		@if ($size == 'large') {
			$font-size-ratio: 1.2;
			font-size: 100% * $font-size-ratio;
			margin: -0.5em * 1/$font-size-ratio;
			margin-bottom: $in-gap/2;
			color: rgba(white, 0.9);
			background: $title-color;
			background: linear-gradient(to bottom, rgba($title-color, 0.8), rgba($title-color, 1));
			border-radius: 6px;
			padding-left: $in-gap/2;
			padding-right: $in-gap/2;
			&:hover { color: white ! important; } // need to bust the "important" specified in existing theme css
		}

		// small links look link-y
		@if ($size == 'small') {
			font-weight: bold;
			font-size: 110%;
			background: linear-gradient(to bottom, rgba($shading, 0), rgba($shading, 0.1));
			background-repeat: no-repeat;
			background-position-y: $height - $in-gap/4;
			transition: 0.3s;
			&:hover {
				background-position-y: 0;
				text-decoration: underline;
			}
		}
	}
}

// pages with major out-links
.section-learning-and-teaching,
.section-research {
	#content-core ol:last-of-type {
		margin-left: 0;
		@include link-list;
		li { @include link-list-item('large'); }
	}
}

// minor out-links on grey background
.section-home {
	#content-core ol:last-of-type {
		margin-left: 0;
		@include full-width-no-bg;
		@include link-list;
		text-align: right;
		li { @include link-list-item('small'); }
	}
}

// minor out-links on normal page colour
.subsection-the-facility,
.section-the-local-region,
.section-experiences,
.section-contact,
.section-booking-forms,
.section-about-the-dro
{
	#content-core > * > ol:last-of-type {
		margin-left: 0;
		@include link-list;
		li { @include link-list-item('small'); }
	}
}

////////////////////////////////////////////////////////// front page

// main page, when you ARE editing it
.section-home.template-atct_edit {
	// try to get the video element to behave
	#content .fancywrapper { height: auto; }
}

// main page, but not when you're editing it
.section-home:not(.template-atct_edit) {
	// this is the tab bar that does site navigation.
	#portal-globalnav {
		// can't use display: none because this is apparently the only
		// element that gives the header its height.
		// visibility: hidden;
	}

	// the edit tagline "by Administrator -- last modified etc"
	#viewlet-below-content-title { display: none; }

	// the subheading/description
	#parent-fieldname-description { display: none; }

	// various parts show white background even when they're empty.
	#portal-columns        { margin-top: 0; }
	#portal-footer-wrapper { margin-top: 0; border-top-color: $page-bg; }
	#content-core          { margin-top: 0; }
	#content               { margin-top: 0; margin-bottom: 0; }

	// most of these things need this #content id wrapper to be
	// specific enough to apply.
	#content {
		// the main heading
		.documentFirstHeading {
			@include full-width-no-bg;
			padding: 1em 0;
			font-weight: 100;
			text-align: center;
			font-size: 50px;
			// font-size for browsers that understand calc() and vw
			font-size: calc(14px + 3vw);
		}

		div.fancywrapper {
			@include full-width-no-bg;
			text-align: center;
		}
		div.video {
			display: inline-block;
			box-sizing: border-box;
			vertical-align: top;
			width: 58%;
			min-width: 300px;
			margin-right: 0.5%;
		}

		// the list of main features
		$padding: 15px;
		ul.features {
			display: inline-block;
			box-sizing: border-box;
			vertical-align: top;
			width: 40%;
			min-width: 300px;
			padding: 0;
			margin: 0;
			margin-left: 0.5%;
			list-style: none;
			text-align: right;

			li {
				padding: $padding;
				margin-bottom: $padding;
				box-sizing: border-box;
				background-color: #fff;
				line-height: 1.4;

				box-shadow: 0 0 3px $page-bg;

				$color: $shading;
				background-image: linear-gradient(to top,    rgba($color, 0.2), rgba($color, 0.05) 0.5 * $padding, rgba($color, 0) 1.5 * $padding),
	        			          linear-gradient(to bottom, rgba($color, 0.2), rgba($color, 0.05) 0.5 * $padding, rgba($color, 0) 1.5 * $padding);

				// rounded corners
				position: relative;
				$radius: 50px;
				min-height: $radius + $radius + $padding + 2px;

				border-bottom-left-radius: $radius + $padding/2;
				padding-left: $radius + $radius + $padding/2;

				border-top-right-radius: $radius/2 + $padding/2;
				padding-right: $radius/4 + $padding/2;

				// little droplets
				&:before {
					content: '';
					// z-index: 1;
					position: absolute;
					box-sizing: border-box;
					top: $padding/2;
					left: $padding/2;
					height: $radius + $radius;
					width: $radius + $radius;
					border-radius: $radius;
					border-top-left-radius: 0;
					background-position: center;
					background-size: cover;
				}
				// images inside the little droplets
				&.experience:before { background-image: url($experience-banner); }
				&.landt:before { background-image: url($landt-banner); }
				&.research:before { background-image: url($research-banner); }

				// the first link is the "main" title link
				a:first-of-type {
					position: relative;
					display: block;
					padding: $padding/2 0;
					font-size: 110%;
					color: $title-color;
					text-shadow: 0 0 4px #fff, 0 0 7px #fff, 0 0 10px #fff;
				}

				p {
					font-size: 90%;
					margin: 0;
				}
			}

		}
	}
}


//////////////////////////////////////////////////////////// book now

.subsection-booking-and-enquiry-forms #content-core {
	table.plain { width: 100% }
}


////////////////////////////////////////////////////////// sensor viz

.subsection-sensor-visualisation h1.documentFirstHeading {
	display: none;
}


////////////////////////////////////////////////////////// photo tour

.subsection-visual-facilities-tour #content-core {
	// ol tags in the photo page are used for images and captions.
	ol {
		clear: both;
		position: relative;
		list-style-type: none;
		margin: 1em 0;
		padding: 0;
	}
	ol li {
		padding: 0;
		margin: 0;
		img {
			background: #666;
			background-image: linear-gradient(to bottom, #999, #333);
			display: block;
		}
	}
	ol li:last-of-type {
		// fix OS X's too-heavy light-on-dark font AA
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

		position: absolute;
		left: 0;
		bottom: 0;
		box-sizing: border-box;
		font-size: 90%;
		padding: 0.3em 2em 0.3em 1em;
		background: black;
		color: white;

		// slanty right edge thing
		&:after {
			position: absolute;
			content: '';
			width: 2em;
			height: 100%;
			top: 0;
			right: 0;
			background: black;
			transform: skewX(30deg);
			transform-origin: top;
		}

		opacity: 0.9;
		transition: 0.2s;

	}
	ol li:last-of-type:hover { opacity: 0; }
}


//////////////////////////////////////////////// editing instructions

.section-editing {
	#content p img {
		transform: rotate(-1deg);
		padding: 1em;
		margin: 1em;
		box-shadow: 0 3px 5px #bbb;
	}
}


///////////////////////////////////////////////////// todo paragraphs

p.todo, td.todo, th.todo, h1.todo, h2.todo, h3.todo, h4.todo {
	background: #ffb;
}
p.todo {
	padding: 0.66em 1em;
	opacity: 0.5;
	transition: opacity 0.2s;
}
p.todo:hover {
	opacity: 1;
}

// todos that mention "pic"
p.todo.todo-pic {
	opacity: 1;
	margin: 0 auto;
	background-image: url(http://placecorgi.com/700/100);
	background-position: center;
	background-size: cover;
	padding: 1em;
	color: white;
	text-shadow: -6px 0 8px #000, -3px 0 8px #000, 0 0 8px #000, 3px 0 8px #000, 6px 0 8px #000;

	a:link { color: #def ! important; }
	a:visited { color: #bcf ! important; }

						height: 350px;  width: 95%;
	&.todo-pic-small {  height: 100px;  width: 33%; }
	&.todo-pic-strip {  height:  80px;  width: 90%; }
}

// some more-or-less random corgi pics..
p.todo.todo-pic.todo-pic-0 { background-image: url(http://placecorgi.com/390/300); }
p.todo.todo-pic.todo-pic-1 { background-image: url(http://placecorgi.com/190/310); }
p.todo.todo-pic.todo-pic-2 { background-image: url(http://placecorgi.com/290/320); }
p.todo.todo-pic.todo-pic-3 { background-image: url(http://placecorgi.com/390/330); }
p.todo.todo-pic.todo-pic-4 { background-image: url(http://placecorgi.com/490/340); }
p.todo.todo-pic.todo-pic-5 { background-image: url(http://placecorgi.com/590/350); }
p.todo.todo-pic.todo-pic-6 { background-image: url(http://placecorgi.com/690/360); }
p.todo.todo-pic.todo-pic-7 { background-image: url(http://placecorgi.com/790/370); }
p.todo.todo-pic.todo-pic-8 { background-image: url(http://placecorgi.com/890/380); }
p.todo.todo-pic.todo-pic-9 { background-image: url(http://placecorgi.com/990/390); }


